<section>
  
  <div class="contenedorFiltro">
    <input  [(ngModel)]="nombreProducto" placeholder="Nombre del producto">
    <div class="contenedorBoton">
      <button class="buscarFiltro" (click)="buscarProductosPorNombre()">Buscar</button>
    </div>
  </div>
  <div class="contenedorInfoProd">

    <div class="conainerPrincipalFiltrados">
      
      <div class="containerProductosFiltrados" *ngFor="let producto of productosFiltrados" [class.productobuscar]="mostrarDetalles">
        <app-detalle-producto
          [id]="producto.doc_id"
          [nombre]="producto.nombre"
          [precio]="producto.precio"
          [imagen]="producto.imagen"
          [descripcion]="producto.descripcion"
          ></app-detalle-producto>
      
      </div>
    </div>
  
  
  
    <div class="containerProductos">
      <div *ngFor="let producto of productos" class="productos">
        <app-detalle-producto
          [id]="producto.doc_id"
          [nombre]="producto.nombre"
          [precio]="producto.precio"
          [imagen]="producto.imagen"
          [tipo]="producto.tipo"
          [descripcion]="producto.descripcion"
          ></app-detalle-producto>
      
      </div>
    </div>
  </div>
</section>  
