<!-- contacto.component.html -->
<section class="contacto-container">
  <div class="containerInformacion">
    <div class="containerSubtitulo">
      <h2 class="tituloContacto">Contacto</h2>
      <p class="subContacto">¡Contáctanos para más información!</p>

    </div>

    <div class="informacion-contacto">
      <div class="telefono">
        <h3>Teléfono</h3>
        <p>+1 555-1234-5678</p>
      </div>

      <div class="redes-sociales">
        <h3>Redes Sociales</h3>
        <p>Facebook: @miempresa</p>
        <p>Twitter: @miempresa_tweets</p>
        <p>Instagram: @miempresa_insta</p>
      </div>
      
      <div class="correo">
        <h3>Correo Electrónico</h3>
        <p>info@miempresa.com</p>
      </div>


    </div>


  </div>
</section>