<header>
  <div id="header-content">
    <div id="header-text">
      <h1>Licoreria Online KANTUTA</h1>
      <p>Sabe a elección, huele a celebración: ¡Bienvenido a la experiencia única de nuestra licorería!</p>
    </div>
    <div id="header-image">
      <img src="../../../assets/images/kantuta.png" height="50" width="50"/>

    </div>
  </div>
</header>

<section id="destacados">
  <h2>Productos Destacados</h2>
  <div class="product">
    <img src="ruta/a/producto1.jpg" alt="Producto 1">
    <p>Descripción del Producto 1</p>
  </div>
  <div class="product">
    <img src="ruta/a/producto2.jpg" alt="Producto 2">
    <p>Descripción del Producto 2</p>
  </div>
  <div class="product">
    <img src="ruta/a/producto3.jpg" alt="Producto 3">
    <p>Descripción del Producto 3</p>
  </div>
</section>

<section id="novedades">
  <h2>Últimas Novedades</h2>
  <div class="news">
    <img src="ruta/a/novedad1.jpg" alt="Novedad 1">
    <p>Descripción de la Novedad 1</p>
  </div>
  <div class="news">
    <img src="ruta/a/novedad2.jpg" alt="Novedad 2">
    <p>Descripción de la Novedad 2</p>
  </div>
  <div class="news">
    <img src="ruta/a/novedad3.jpg" alt="Novedad 3">
    <p>Descripción de la Novedad 3</p>
  </div>
</section>
<footer>
  <p>&copy; 2023 Tienda de Ropa</p>
</footer>


