/* Estilos para los enlaces de páginas */
// a {
//   text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
//   color: #ffffff; /* Color del texto */
//   padding: 10px; /* Añade espacio alrededor del texto */
//   margin: 5px; /* Añade espacio entre los enlaces */
//   background-color: #3498db; /* Color de fondo */
//   border: 1px solid #2980b9; /* Añade un borde delgado */
//   border-radius: 5px; /* Añade esquinas redondeadas */
//   transition: background-color 0.3s, color 0.3s; /* Agrega una transición suave al color de fondo y al texto */
// }

// /* Estilo al pasar el ratón sobre los enlaces */
// a:hover {
//   background-color: #2980b9; /* Cambia el color de fondo al pasar el ratón */
//   color: #ffffff; /* Cambia el color del texto al pasar el ratón */
// }




@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100&display=swap');

h1 {
  color: white;
  font-size: 40px;

  // font-family: 'Titan One', sans-serif;
  font-family: 'Chonburi', serif;
  // font-family: 'Rampart One', sans-serif;
  // font-family: 'Kalnia', serif;

}

header {
  // height: 80px;
  min-height: 80px;
  // font-weight: 500;
  font-size: 1.1rem;
  position: fixed;
  // border-bottom: 1px solid rgba(212, 1, 1, .164);
  // margin-bottom: 30px;
  z-index: 100;
  display: flex;
  width: 100%;
  top: 0;
  padding: 10px;
  background-color: black;

  align-items: center;
  padding: 10px;
  justify-content: space-between;
}

.espacioImg {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


nav {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
}

.opcionMenu {
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  color: white;
  transition: transform 0.3s;
  padding: 10px;
}

.opcionMenu:hover {
  color: rgb(168, 147, 28);
  transform: scale(1.1);
  /* Aumenta el tamaño al 110% cuando se pasa el ratón sobre el enlace */
}

.logoTienda {
  width: 128px;
  height: 90px;
  margin: 10px;
  align-items: center;
}

@media (max-width: 400px) {
  header {
    flex-direction: column;
  }

  .espacioImg {
    width: 26%;
  }

  nav {
    width: 70%;
  }

  nav ul {
    width: 100%;
  }

  .logoTienda {
    width: 100px;
    height: 70px;
  }

  .opcionMenu {
    font-size: 20px;
  }

  .contenedorFiltro[_ngcontent-ng-c2036985671] {
    width: 100%;
    height: 11vh;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    margin-top: 125px;
    background-color: white;
    z-index: 10;
  }
}